#root {
  height: 100%;
}

html {
  height: 100%;
  font-size: 10px;
}

body {
  background-color: rgb(39, 39, 39);
  color: #bebebe;
  font-family: sans-serif;
  height: 100%;
  text-align: center;
  margin: 0px;
}

.yellowColor {
  color: #ffe643;
}

.redColor {
  color: #c01d1d;
}

.drawColor {
  color: #6495ed;
}

div.topMenuContainer {
  display: inline-flex;
}

table.tokenB {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

table.gameGridBoard {
  border: 3px solid #6495ed;
  border-radius: 10%;
  border-top: none;
}

table.gameHistory {
  border: 1px solid #6495ed;
  border-radius: 10%;
  border-top: none;
  font-size: 10px;
  padding: 5px;
  margin-top: 0px;
}

table.yellowBorder {
  border: 1px solid #ffe643;
}

table.redBorder {
  border: 1px solid #c01d1d;
}

table.drawBorder {
  border: 1px solid #6495ed;
}

td.gameHistory {
  width: 16px;
  height: 16px;
}

div.lineup {
  display: inline-block;
}

div.historyContainer {
  margin-bottom: 70px;
}

button {
  align-items: center;
  justify-content: center;
  cursor: pointer;
  touch-action: manipulation;
  transition: transform .15s, border .15s;
  will-change: transform, border;
  border: none;
}

button.topMenu {
  background-color: transparent;
  color: #6495ed;
  border: 1px solid #6495ed;
  border-radius: 16px;
  border-bottom: none;
  height: 40px;
  margin: 12px 6px 6px 6px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 16px;
}

@media only screen and not (min-width: 768px) {

  div.upSquare {
    display: block;
    width: 100%;
    height: fit-content;
    padding: 5px;
    background-color: #6495ed;
    top: 0;
  }

  a.backToTheGate {
    text-decoration: underline;
    font-size: 16px;
    font-family: arial;
    color: #272727;
    text-align: center;
  }

  p.playing {
    font-size: 20px;
    margin: 10px 10px 0px 10px;
  }

  div.rowContainer {
    height: 50px;
  }

  div.victoryBanner {
    padding-top: 30px;
    font-size: 20px;
  }

  table {
    font-size: 20px;
    margin: 16px;
    padding: 6px;
    display: inline-block;
  }

  td {
    width: 34px;
    height: 34px;
  }

  button.topMenu {
    height: 40px;
    margin: 12px 6px 6px 6px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 16px;
  }

  button.topMenu:active {
    border: 1px solid #000000;
    box-shadow: #000000 0 3px 7px inset;
    transform: translateY(2px);
  }

  button.arrows {
    background-color: transparent;
    color: #bebebe;
    font-size: 40px;
  }

  button.arrows:active {
    transform: translateY(10px);
  }
}


@media only screen and (min-width: 768px) {

  div.upSquare {
    width: 0;
    height: 0;
    border-top: 140px solid #6495ed;
    border-bottom: 140px solid transparent;
    border-left: 140px solid transparent;
    position: absolute;
    right: 0;
  }

  a.backToTheGate {
    text-decoration: none;
    color: #272727;
    position: absolute;
    top: -110px;
    width: 100px;
    left: -100px;
    text-align: center;
    font-size: 16px;
    font-family: arial;
    transform: rotate(45deg);
    display: block;
    transition: color .15s;
    will-change: color;
  }

  a.backToTheGate:hover {
    color: #ffffff;
  }

  p.playing {
    font-size: 30px;
  }

  div.rowContainer {
    height: 95px;
  }

  div.victoryBanner {
    padding-top: 30px;
    font-size: 40px;
  }

  table {
    font-size: 40px;
    margin: 30px;
    padding: 20px;
    display: inline-block;
  }

  td {
    width: 60px;
    height: 60px;
  }

  div.lineup {
    display: inline-block;
  }

  button.topMenu {
    height: 48px;
    margin: 10px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 18px;
  }

  button.topMenu:hover {
    border: 1px solid #6495ed;
    box-shadow: #000000 0 4px 8px;
    transform: translateY(-2px);
  }

  button.topMenu:active {
    border: 1px solid #000000;
    box-shadow: #000000 0 3px 7px inset;
    transform: translateY(2px);
  }

  button.arrows {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
    background-color: transparent;
    color: #bebebe;
    font-size: 60px;
  }

  button.arrows:hover {
    transform: translateY(5px);
    color: #6495ed;
  }

  button.arrows:active {
    transform: translateY(10px);
  }
}